<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.coenraets.employeedirectory"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Park</name>
 
    <description>
        A app for search park
    </description>
		
		
		<plugin name="net.roughshod.plugins.barcodescanner" spec="3.0.0" source="pgb" />
		<plugin name="org.apache.cordova.network-information" spec="0.2.15" source="pgb" />
		<plugin name="cordova-plugin-network-information" spec="1.0.1" source="pgb" />
		<plugin name="cordova-plugin-whitelist" spec="1" />
		<plugin name="com.jmi2.cordova.geolocation" spec="0.3.15" source="pgb" />
		<platform name="android" />
		
		<access origin="*" />
		<allow-navigation href="*" />
		
		<icon src="./usefulfile/images/icon.png" platform="android"/>
</widget>