<script type="text/template" id="CheckOutByCashierFormView">
	<div class="container">
		<div class="panel panel-black">
			<div class="panel-heading">
				<h3 class="panel-title">Check Out</h3>
			</div>
			<div class="panel-body">
				<form id="CheckOut" role="form" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<div class="col-md-3">
								<select id="searchBy" name="searchBy" class="form-control">
									<option value="user" >User</option>
									<option value="park" >Park</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-1 col-xs-2 control-label" for="code">Code</label>
							<div class="col-md-5 col-xs-6">
								<input id="code" name="code" class="input-md form-control inline" type="text" value=""/>
							</div>
							<div class="col-md-2 col-xs-4">
								<button type="submit" class="btn btn-default btn-md user-submit pull-right">Check In</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div id="checkOutByResultRegion"></div>
</script>

<script type="text/template" id="CheckOutByResultItemView">
	<div class = 'row'>
		<div class = "col-md-9 col-xs-9">
			<div>Park Name: <b><%= obj.name %></b></div>
			<div>User Name: <b><%= obj.user %></b></div>
			<div>Phone: <%= obj.phone%></div>
			<div>Time: <%= obj.startTime%></div>
		</div>
		<div class = "col-md-3 col-xs-3">
			<div><button class="btn btn-success checkout pull-right">checkout</button></div>
		</div>
	</div>
</script>

<script type="text/template" id="CheckOutByResultListView">
	<div class="container">
		<div class="panel panel-black">
			<div class="panel-heading">
				<h3 class="panel-title">Record<i class="fa fa-refresh refresh canClick pull-right" style="margin-left: 15px;"></i></h3>
			</div>
				<ul class="checkOutByResultList list-group">
				</ul>
		</div>
	</div>
</script>

<script type="text/template" id="AlertRecordItemView">
	<div class = 'row'>
		<div class = "col-md-12 col-xs-12">
			<div>Park: <b><%= obj.name %></b></div>
			<div>User: <b><%= obj.user%></b></div>
			<div>Phone: <%= obj.phone%></div>
			<div>Time: <%= obj.startTime%></div>
			<div>Limit: <%= obj.timeLimit%></div>
		</div>
	</div>
</script>

<script type="text/template" id="AlertRecordListView">
	<div class="container">
		<div class="panel panel-black">
			<div class="panel-heading">
				<h3 class="panel-title">Record<i class="fa fa-refresh refresh canClick pull-right" style="margin-left: 15px;"></i></h3>
			</div>
				<ul class="alertRecordList list-group">
				</ul>
		</div>
	</div>
</script>

<script type="text/template" id="RecordItemView">
	<div class = 'row'>
		<div class = "col-md-10 col-xs-10">
			<div><b><%= obj.name %></b></div>
			<div>Time: <%= obj.startTime %><%= obj.endTime ? " - " + obj.endTime : "" %></div>
			<div>Type: <%= obj.type%></div>
		</div>
		<div class = "col-md-2 col-xs-2 vertical-align">
			<h2><%= obj.totalCost %></h2>
		</div>
	</div>
</script>

<script type="text/template" id="RecordListView">
	<div class="container">
		<div class="panel panel-black">
			<div class="panel-heading">
				<h3 class="panel-title">Record<i class="fa fa-refresh refresh canClick pull-right" style="margin-left: 15px;"></i></h3>
			</div>
				<ul class="recordList list-group">
				</ul>
			</div>
	</div>
</script>