<script type="text/template" id="ReportItemView">
	<td><b>	<%= obj.name%></b></td>
	<td><b>	<%= obj.registrationMark%></b></td>
	<td><b>	<%= obj.time %></b></td>
	<td><b>	<%= obj.reporter %></b></td>
	<td><b>	<%= obj.remark %></b></td>
	<td><button class="btn btn-xs btn-danger deActivate table-btn-1">Cancel</button></td>
</script>

<script type="text/template" id="ReportListView">
	<div class="container">
		<div class="panel panel-black">
			<div class="panel-heading">
				<h3 class="panel-title">Report<i class="fa fa-refresh refresh canClick pull-right" style="margin-left: 15px;"></i></h3>
				<div id="pager" class="pager tablesorter-pager pull-right">
					<a type="button" class="btn btn-xs btn-default first"><i class="fa fa-step-backward"></i></a>
					<a type="button" class="btn btn-xs btn-default prev"><i class="fa fa-backward"></i></a>
					<span class="pagedisplay"></span>
					<a type="button" class="btn btn-xs btn-default follow"><i class="fa fa-forward"></i></a>
					<a type="button" class="btn btn-xs btn-default last"><i class="fa fa-step-forward"></i></a>
					<select class="pagesize notRead" title="Select Page Size">
						<option selected="selected" value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
					</select>
					<select class=" notRead" title="Select page number"></select>
				</div>
			</div>
				<table class="table table-list-search table-responsive tablesorter" id="reporttable">
					<thead>
						<tr>
							<th width="20%">Name</th>
							<th width="20%">Registration Mark</th>
							<th width="10%">Time</th>
							<th width="20%">reporter</th>
							<th width="20%">Remark</th>
							<th width="10%">Delete</th>
						</tr>
					</thead>
					<tbody class="reportList">
					</tbody>
				</table>
		</div>
	</div>
</script>

<script type="text/template" id="ReportFormView">
	<div class="container">
		<div class="panel panel-black">
			<div class="panel-heading">
				<h3 class="panel-title">Illegal Report</h3>
			</div>
			<div class="panel-body">
				<form id="newReport" role="form" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label class="col-md-2 control-label" for="park">Park</label>
							<div class="col-md-5">
								<input id="park" name="park" class="form-control input-md" placeholder="Code" type="text" value="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="registrationMark">Registration Mark</label>
							<div class="col-md-5">
								<input id="registrationMark" name="registrationMark" class="form-control input-md" placeholder="registrationMark" type="text" value="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="remark">Remark</label>
							<div class="col-md-5">
								<textarea id="remark" name="remark" class="form-control input-md" placeholder="remark" type="textarea" value="" row="5"/>
							</div>
						</div>
						<hr/>
						<div>
							<button class="btn btn-default btn-md report-save pull-right" type="submit">Save</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</script>