<script type="text/template" id="ReportItemView">
	<div class = 'row'>
		<div class = "col-md-9 col-xs-9">
			<div><%= obj.name %></div>
			<div>Registration Mark: <%= obj.registrationMark %></div>
			<div>Time: <%= obj.time %></div>
			<div>Reporter: <%= obj.reporter %></div>
			<div>Remark: <%= obj.remark %></div>
		</div>
		<div class = "col-md-3 col-xs-3 vertical-align">
			<button class="btn btn-danger deActivate table-btn-1 pull-right">Cancel</button>
		</div>
	</div>
</script>

<script type="text/template" id="ReportListView">
	<div class="container">
		<div class="panel panel-black">
			<div class="panel-heading">
				<h3 class="panel-title">Report<i class="fa fa-refresh refresh canClick pull-right" style="margin-left: 15px;"></i></h3>
			</div>
				<ul class="reportList list-group">
				</ul>
		</div>
	</div>
</script>

<script type="text/template" id="ReportFormView">
	<div class="container">
		<div class="panel panel-black">
			<div class="panel-heading">
				<h3 class="panel-title">Illegal Report</h3>
			</div>
			<div class="panel-body">
				<form id="newReport" role="form" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label class="col-md-2 control-label" for="park">Park</label>
							<div class="col-md-10">
								<input id="park" name="park" class="form-control input-md hidden" placeholder="Code" type="text" value="" />
								<span class="qrResult"></span>
								<button id="scanButton" name="scanButton" class="btn btn-success">Scan QR Code</button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="registrationMark">Registration Mark</label>
							<div class="col-md-5">
								<input id="registrationMark" name="registrationMark" class="form-control input-md" placeholder="registrationMark" type="text" value="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="remark">Remark</label>
							<div class="col-md-5">
								<textarea id="remark" name="remark" class="form-control input-md" placeholder="remark" type="textarea" value="" row="5"/>
							</div>
						</div>
						<hr/>
						<div>
							<button class="btn btn-default btn-md report-save pull-right" type="submit">Save</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</script>